* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body{
    background-image: url('https://images.pexels.com/photos/1097930/pexels-photo-1097930.jpeg?cs=srgb&dl=pexels-jess-bailey-designs-1097930.jpg&fm=jpg');
    background-size: cover;
}

nav {
    width: 100%;
    height: 100%;
    background-color: #fff;

}

ul {
    margin-left: 15px;
    margin-bottom: 10px;
    position: fixed;
    background-color: lightgray;
}

ul li {
    list-style: none;
    display: inline-block;
    float: left;
    line-height: 50px;
   
}

ul li:hover {
    animation-name: background-color;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    transform: scale(1.1);
}

@keyframes background-color {
    100% {
        background-color: black;
    }
}

ul li a {
    display: block;
    text-decoration: none;
    font-size 14px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    padding: 0 20px 0 20px;
}

ul li a:hover {
    color: white;
}

h1 {
    color: black;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    margin-bottom: 15px;
    margin-top: 15px;
}

h2 {
    color: black;
    font-family: 'Courier New', Courier, monospace;
    margin-bottom: 10px;
    margin-top: 10px;
    text-align: left;
}

p {
    color: black;
    font-family: monospace;
    font-size: 14px;
}

ol {
    margin-left: 30px;
    font-size: 14px
}

ol li {
    color: black;
    font-family: monospace;
    margin-bottom: 15px;
    margin-top: 15px;
}

.move-hz {
    position: absolute;
    top: 0px;
    right: 0px;
}



.green-text {
    color: #006400;
}

.zwarte-rand {
    border-color: black;
    border-width: 5px;
    border-style: solid;
}

.move-sake {
    position: absolute;
    top: 112px;
    right: 0px;
    width: 8.3%;
}

body {
    margin-left: 35px;
}

.cover-size {
    width: 200px;
    height: 200px;
}

.move-west {
    position: absolute;
    top: 700px;
    left: 80px;
    box-shadow: 20px 20px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    }

.move-jantje {
    position: absolute;
    top: 700px;
    left: 430px;
    box-shadow: 20px 20px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.move-gordelweg {
    position: absolute;
    top: 700px;
    left: 780px;
    box-shadow: 20px 20px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.move-dinnerguest {
    position: absolute;
    top: 700px;
    left: 1130px;
    box-shadow: 20px 20px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.move-indemix {
    position: absolute;
    top: 700px;
    left: 1480px;
    box-shadow: 20px 20px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.tekst-kleur {
    color: black;
    font-family: monospace;
}

.p1-move {
    position: absolute;
    top: 920px;
    left: 100px;
    font-weight: bold;
}

.p2-move {
        position: absolute;
        top: 920px;
        left: 480px;
        font-weight: bold;
}

.p3-move {
    position: absolute;
    top: 920px;
    left: 815px;
    font-weight: bold;
}

.p4-move {
    position: absolute;
    top: 920px;
    left: 1135px;
    font-weight: bold;
}

.p5-move {
    position: absolute;
    top: 920px;
    left: 1510px;
    font-weight: bold;
}

.bold {
    font-weight: bold;
}

hr {
    margin-top: 10px;
    margin-bottom: 10px
}

table {
    color: black;
    font-family: monospace;
    top: 300px;
    width: 50%;
}
    
table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
        padding: 5px;
      }

.vakje {
    background-color: lightgray;
    width: 95%;
    border: 1px solid black;
    padding: 10px;
    margin: 20px;
    border-radius: 25px;
    box-shadow: 20px 20px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    
}
  

.wrapper {
    margin-right: 5%;
    margin-left: 5%;
}

.trkleur {
    background-color: darkgray;
    color: white;
}

.wit {
    background-color: white
}

progress {
    -webkit-appearance: none;
    width: 70%;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    border: 3px solid black;
    border-radius: 2px;
    height: 40px;
}

.move-begin {
    width: 10%;
    position: absolute;
    top: 470px;
    left: 200px;
}

.move-duim {
    width: 5%;
    position: absolute;
    top: 505px;
    left: 1225px;
}

.move-gg {
    width: 5%;
    position: absolute;
    top: 507px;
    left: 1575px;
    border: 1px solid black;
}

#hover:hover {
    transform: scale(1.1);
}

.move-0 {
    position: absolute;
    top: 440px;
    left: 150px;
    font-weight: bold;
    
}

.move-45 {
    position: absolute;
    top: 440px;
    left: 1130px;
    font-weight: bold;
}

.move-60 {
    position: absolute;
    top: 440px;
    left: 1467px;
    font-weight: bold;
}

h4 {
    color: black;
    font-family: 'Courier New', Courier, monospace;
    text-align: left;
}
